// =============================================================================
// vars
// =============================================================================

$font-main: 'Muller', sans-serif;
$font-family: $font-main;
$font-size: 18px;
$font-width: 400;
$line-height: 1.2;
$color: $black;

// =============================================================================
// Placeholder Selectors
// =============================================================================

%h1 {
  @include font(
    ('mob': 34px, 'xs': 60px),
    ('mob': 1.17, 'xs': 1.07),
    ('mob': 500, 'xs': 400),
    ('xs': -0.5px)
  );
}

%h2 {
  @include font(
    ('mob': 30px, 'xs': 50px),
    ('mob': 1),
    ('mob': 400),
    ('xs': -0.05em)
  );
}

%desc {
  @include font(
    ('mob': 14px, 'xs': 20px),
    ('mob': 1.2),
    ('mob': 400),
    ('xs': -0.05em)
  );
}
